- title(APP_CONFIG['site_name'])
%h1= yield(:title)

= render @messages

.g-plus{'data-action' => 'share', 'data-height' => '24'}

= will_paginate(@messages)
- if @messages.empty?
  %h4= t('.messages_not_found')