- title(@message.title)
%h1= yield(:title)

%div{:class => !@message.published && 'draft'}
  =raw @message.content
.clear.small
  = message_tags(@message)
  = message_created(@message)
  = message_actions(@message) if user_signed_in?

.g-plus{'data-action' => 'share', 'data-height' => '24'}
