/* 
    Document   : aboutme
    Created on : Aug 24, 2010, 6:03:06 PM
    Author     : wr
*/

#header {padding-bottom: 10px;}
#footer {padding-top: 10px;}
.container {
  display: block;
  width: 950px;
  margin: 0 auto;
}
h1,h2,h3,h4,h5{color:#ff925c}
a {color: #5c9ccc}
/* Border on right hand side of a column. */
.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eee;
}

/* Use a .box to create a padded box inside a column.  */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9;
}

.clear { clear:both; }
